.navbar-default {
    background-color: #FF7256;
    border-color: #6b6b6b;
    color: black;
}

.nav.navbar-nav li a {
    color: black;
}

.navbar-brand {
    color: black;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav .current {
    background-color: black;
}